name: RSI Crude Oil Bot

on:
  schedule:
    # Runs every 15 minutes. 
    # Syntax is 'minute hour day month day-of-week'
    - cron: '*/15 * * * *' 
  workflow_dispatch: # Allows you to run it manually for testing

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13.5'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Bot Script
        run: python bot_twelve.py
